@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* 구글 폰트 */
@import "reset.css";
/* css파일에 import 하는 이유는 html에 링크를 계속 추가하는게 비효율적이기 때문 */
@import "variables.css";
/* 6.7 추가 */

@import "components/status-bar.css";
/* 6.6 css파일 분리, style.css 파일은 다른 css 파일을 추가하는 파일로 쓰기로*/
/* 6.9 경로변경 */
@import "components/nav-bar.css";
/*6.10 추가*/
@import "components/screen-header.css";
/* #6.12 추가*/
@import "components/user-component.css";
/* #6.16 추가 */


@import "screens/login.css";
/* 6.9 추가 */
@import "screens/firends.css";
/* 6.15 추가 */


/* CSS에 import되는 순서도 중요하다. 먼저 적용됨 */

body {
    color: #2e363e;
    font-family: "Open Sans", sans-serif;
    height: 1000vh;
    }


